* {
    margin: 0;
}

main {
    min-height: 80vh;
}

h3 {
    padding: 1rem 0;
}

h1 {
    font-size: 1.8rem;
    padding: 1rem 0rem;
}

h2 {
    font-size: 1.4rem;
    padding: 0.5rem 0rem;
}

.timer_day span {
    font-size: 1.3rem;
    padding: 0rem 1.5rem;
}

.center_section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

@media (max-width: 768px) {
    .timer_day span {
        font-size: 1.1rem;
        padding: 0rem 1rem;
    }
    h4 {
        font-size: 1rem;
        padding: 1rem 1rem;
    }
}